<form method="post">
    <input type="hidden" value="{{ item.id }}" name="id">
    <textarea value="{{ item.title }}" name="title">{{ item.title }}</textarea>
    <input type="submit" value="Valider">
</form>
