<footer id="footer" class="top-space">
    <div class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p>+33 6 66 96 17 77<br>
                            <a href="mailto:elneris.dang@gmail.com">EasterFive@wildcodeschool.fr</a><br>
                            <br>
                            9 Allée Serr, 33100 Bordeaux
                        </p>
                    </div>
                </div>
                <div class="col-md-2 widget">
                    <h3 class="widget-title">Suivez nous</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="https://twitter.com/WildSchool_Bdx" target="_blank"><i class="fa fa-twitter fa-2"></i></a>
                            <a href="https://www.instagram.com/wildcodeschool/?hl=fr" target="_blank"><i class="fa fa-instagram fa-2"></i></a>
                            <a href="https://github.com/orgs/WildCodeSchool/dashboard" target="_blank"><i class="fa fa-github fa-2"></i></a>
                            <a href="https://www.facebook.com/wildcodeschool/" target="_blank"><i class="fa fa-facebook fa-2"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 widget">
                    <h3 class="widget-title"></h3>
                    <div class="widget-body">
                        <img src="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="/">Accueil</a> |
                            <b><a href="/register/index">S'inscrire</a></b>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2019, BATTLEGGS.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>