<div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-left">
                <li {% if pageIndex %}class="active"{% endif %}><a href="/">Accueil</a></li>
                <li {% if pageIndex %}class="active"{% endif %}><a href="/Ranking/index">Classement</a></li>
                <li {% if pageIndex %}class="active"{% endif %}><a href="/Game/selectAdverse">Défier un joueur</a></li>
                {% if session %}
                        {% if session.login %}
                            <li {% if pageMember %}class="active"{% endif %}><a href="/Profile/index">Page Profil</a></li>
                        {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav pull-right">
                {% if session.login %}
                    <li><a class="btn" href="/Login/logout">Se Deconnecter</a></li>
                {% else %}
                    <li><a class="btn" href="/Login/index">Se Connecter</a></li>
                {% endif %}
                <li><a class="btn" href="/register/index">S'inscrire</a></li>

            </ul>
        </div>
    </div>
</div>