{% extends 'layout.html.twig' %}

{% block title %}Selectionner un adversaire{% endblock %}

{% block content %}
    <h1>Selectionner un adversaire</h1>
    <div class="container">
    <div class="row">
    {% for user in usersWithProfil %}
            <div class="col-12 col-md-3">
                <div class="card">
                    <a href="fight/{{ user.id }}"><img class="card-img-top" src="{{ user.image }}"></a>
                    <div class="card-block">
                        <h5 class="text-bold">{{ user.login }}</h5>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}