* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
  background-color: #222;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 158px;
  line-height: 153px;
}

.notfound .notfound-404 h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  font-size: 220px;
  letter-spacing: 10px;
  margin: 0px;
  font-weight: 700;
  text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.notfound .notfound-404 h1>span {
  text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
}

.notfound p {
  font-family: 'Josefin Sans', sans-serif;
  color: #c9c9c9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 15px;
}

.notfound a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  color: #c9c9c9;
  border: 2px solid #c9c9c9;
  display: inline-block;
  padding: 10px 25px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ffab00;
  border-color: #ffab00;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }

  .notfound .notfound-404 h1 {
      font-size: 122px;
  }
}

/**********************************/
/********Select Adverse Card*******/
/**********************************/

h1{
  text-align:center;
  padding-bottom:80px;
  padding-top: 35px;
}
.card h5 {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
}


.card img{
  width: 100%;
  height: 200px;
  border:1px solid grey;
}
.card{
  margin-top: 25px;
  border: 1px solid black;
  border-radius: 5px;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.card-block{
  text-align: left;
}

.btn_fight{
  margin-left: 490px;
  border: 3px solid grey;
  box-shadow: 5px 0px 25px -9px;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  background:grey;
  color: white;
}
.btn_fight:hover{
  background:whitesmoke;
  transition: 0.5s;
  text-decoration: none;
  color: black;
  border-color: transparent;
}
.titleName{
  position: relative;
  left: 108px;
  font-size: 1.5em;
}

.carte img{
  border: 3px solid grey;
  box-shadow: 3px 5px 5px darkgrey;
  width: 300px;
  height: 300px;
}

.carte :nth-child(3) img {
  border: none;
  box-shadow: none;
  width: 300px;
  height: 300px;

}

/**********************************/
/*********** Fight Result *********/
/**********************************/
.img-result {
  position: absolute;
  width: 60%;
  top: 10%;
  left: 10%;
  z-index: 20;
}

.btn_rejouer{
  margin-left: 490px;
  border: 3px solid grey;
  box-shadow: 5px 0px 25px -9px;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  background:grey;
  color: white;
}

.btn_rejouer:hover{
  background:whitesmoke;
  transition: 0.5s;
  text-decoration: none;
  color: black;
  border-color: transparent;
}

.img-profil img:first-child{
  border: 3px solid grey;
  box-shadow: 3px 5px 5px darkgrey;
}

.oeuf{
  left: 100px;
  position: absolute;
  bottom: 430px;
}

.oeuf3{
  position: absolute;
  top: 540px;
  right: 0;
}

.cardtop img{
  width: 40%;
}

@media (max-width: 640px) {
  .oeuf3 {
    position: relative;
    top: 0px;
    right: 0;
  }
}